.text-centre{
    text-align: center;
}
.btn{
    background-color: #2874f0;
    color: #d4f0fb;
    padding: 2.5px;
    margin: 0 0 0 -60.1px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.my-1{
    margin: 0 2px;
}
.my-2{
    margin: 30px 139.8px;
}
.text-centre{
    text-align: center;
}
.all:hover{
    width: 205px;
}